.top-bar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #f8f9fa;
}

.left,
.right {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.5rem;
}

.left {
  gap: 0.5rem;
  color: #1e293b;
  font-weight: 400;
}

.left .icon {
  color: #64748b;
  width: 20px;
  height: 20px;
}

.open-text {
  color: #22c55e;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

.right {
  font-weight: 400;
  color: #1e293b;
}

.right a {
  color: #1e40af;
  text-decoration: underline;
  padding: 0.25rem 0.5rem;
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
  }

  .right, .left {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}