<header class="header-container">
  <div class="header-left">
    <a href="https://www.linkedin.com/in/yassine-ed-daïf/" target="_blank" aria-label="LinkedIn" class="circle-btn">
      <img ngSrc="assets/svg/linkedin.svg" alt="LinkedIn Icon" class="icon" height="24" width="24"/>
    </a>
    <a href="mailto:yaddaif@outlook.com" aria-label="Mail" class="circle-btn">
      <img ngSrc="assets/svg/mail.svg" alt="Mail Icon" class="icon" height="24" width="24"/>
    </a>
    <a href="tel:+32466281051" aria-label="Phone" class="circle-btn">
      <img ngSrc="assets/svg/phone.svg" alt="Phone Icon" class="icon" height="24" width="24"/>
    </a>
  </div>
  <div class="header-center">
    <div class="header-actions">
      <a href="https://www.linkedin.com/in/yassine-ed-daïf/" target="_blank" aria-label="LinkedIn" class="circle-btn">
        <img ngSrc="assets/svg/linkedin.svg" alt="LinkedIn Icon" class="icon" height="24" width="24"/>
      </a>
      <a href="mailto:yaddaif@outlook.com" aria-label="Mail" class="circle-btn">
        <img ngSrc="assets/svg/mail.svg" alt="Mail Icon" class="icon" height="24" width="24"/>
      </a>
      <a href="tel:+32466281051" aria-label="Phone" class="circle-btn">
        <img ngSrc="assets/svg/phone.svg" alt="Phone Icon" class="icon" height="24" width="24"/>
      </a>
    </div>
    <span style="cursor:pointer;" (click)="goToHome()">
  <img ngSrc="assets/img/title.png" alt="Logo" class="header-logo" height="78" width="250"/>
</span>
  </div>
  <div class="header-right">
    <span class="menu-text">Menu</span>
    <div class="circle-btn hamburger-menu">
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="hamburger-icon circle-btn hamburger">&#9776;</label>
      <ul class="menu-dropdown">
        <li>
          <a (click)="goToAboutUs()">About Us</a>
        </li>
        <li (click)="openInfo()" style="cursor:pointer; user-select:none;">
          Info
        </li>
      </ul>
    </div>
  </div>
</header>
